* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxAll {
    width: 1000px;
    height: 600px;
    background-color: #dddddd;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-rows: 60px auto 30px;
    padding: 0 20px 0 20px;
}

.geogr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxAll .geogr .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* time */

.boxAll .geogr .time {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: x-large;
}

.boxAll .Question {
    display: grid;
    grid-template-rows: 200px auto;
}

.boxAll .Question .Quest {
    text-align: center;
    border: #000 solid 1px;
    padding-top: 76px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boxAll .Question .answer_area {
    border: #000 solid 1px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.boxAll .Question .answer_area .answer {
    cursor: pointer;
    border: #000 solid 1px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: #b1b1b1;
    color: #fff;
    display: grid;
    grid-template-columns: 30px auto;
}



.boxAll .Question .answer_area .answer  {
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxAll .Question .answer_area .answer h2 {
    margin-top: 37%;
    margin-left: 3px;
}

.boxAll .Question .answer_area .answer input {
    margin-right: 10px;
    /* visibility: hidden; */
    display: none;
}

.boxAll .Question .answer_area .answer input:checked + label {
    color: rgb(255, 255, 255);
    border-bottom: #000 solid 1px;
    background-color: rgb(136, 148, 218);
}

.boxAll .Question .answer_area .answer label {
    border-radius: 10px 0 0 10px;
    padding: 14.5px;
    border-left: #000 solid 1px;
} 

.spans {
    display: flex;
}
.spans span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(156, 156, 156);
    margin: 5px;
}


.boxAll .Exit {
    display: flex;
    justify-content: space-between;
}
.boxAll .Exit .on {
    background-color: rgb(61, 137, 236);
}
.boxAll .Exit button {
    cursor: pointer;
    background-color: #00000000;
    border: none;
}

